*.iml
.gradle
/local.properties
/.idea/caches/
/.idea/libraries/
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/modules/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/ralvin/pencatatankalori/folder-tree.puml
.idea/deploymentTargetSelector.xml
