*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/ralvin/pencatatankalori/folder-tree.puml
.idea/deploymentTargetSelector.xml
.kotlin/sessions/kotlin-compiler-11582613898478042256.salive
.github/copilot-instructions.md
/.kotlin/errors
/.github
*.md
*.md
.github/copilot-instructions.md
